@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.SectionObjectives {
    margin-top: 190px;
    width: 100%;
    height: auto;

    animation: fadeIn 1.5s ease-in-out;
}

.Title h2 {
    font-family: 'Alexandria', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;

    align-items: center;
    justify-content: center;
    display: flex;
}

.Content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.ContentBoxes {
    width: 350px;
    height: 190px;
    border-radius: 10px;
    background-color: #2D1E36;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    padding: 20px;          
    box-sizing: border-box; 
    
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-in-out; 
}

.isVisible .ContentBoxes {
    opacity: 1;
    transform: translateY(0);
}

.ContentBoxes:hover {
    transform: scale(1.1);
    background-color: #501A5E;

    cursor: pointer;
    transition: 0.6s ease;
}


.AssetVisual {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 45px;
    color: #FFFFFF;

    margin-bottom: 5px;
}

.TitleBox h3 {
    font-family: 'Afacad', sans-serif;
    color: #FFFFFF;
    margin: 0;
    font-size: 24px;
}

.TextBox {
    text-align: center;
    font-family: 'Alexandria', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
}

.TextBox p {
    margin: 0;
}

@media (max-width: 1200px) {
    .Content {
        flex-wrap: wrap; 
        gap: 30px; 
        padding: 0 20px; 
    }

    .ContentBoxes {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .SectionObjectives {
        margin-top: 100px; 
    }

    .Title h2 {
        font-size: 20px; 
        text-align: center;
        padding: 0 20px;
    }

    .Content {
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
    }

    .ContentBoxes {
        width: 100%;
        max-width: 350px; 
        height: auto; 
        padding: 25px 20px; 
    }

   
    .ContentBoxes:hover {
        transform: translateY(0) scale(1); 
        background-color: #2D1E36; 
    }
}