@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');


.ContainerBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    padding:  0 20px;
}

.BlockedContainer h1 {
    font-family: 'Source Code Pro', monospace;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.BlockedContainer p {
    font-family: 'Alexandria', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.BlockedContainer .SubText {
    color: #b3b3b3;
    font-size: 15px;
    font-weight: 300;
    max-width: 80%;
    line-height: 1.5;
}

.FormContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

.FormContent {
    display: flex;
    align-items: stretch;
    width: 1040px;
    min-height: 550px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.LeftSide {
    width: 50%;
    height: auto;
    background-color: #2D1E36;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.LeftSide h1 {
    font-size: 22px;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-bottom: 30px;
}

.ImgAstronauta {
    max-width: 80%;
    height: auto;
}

.RightSide {
    width: 50%;
    height: auto;
    background-color: #1E1C2F;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
    box-sizing: border-box;

    position: relative;
    overflow: hidden;
}

.StepParts{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    align-items: center;
}

.Circles{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3E0866;
    transition: background-color 0.3s ease;
}

.StepParts .Circles p {
    display: flex;
    font-size: 30px;
    font-family: 'Source Code Pro';
    font-weight: 800;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: auto;
    margin: 0;
}

.connectLine{
    background-color: #2D1E36;
    width: 80px;
    height: 4px;
    transition: background-color 0.4s ease;
}

.connectLineActive {
    background-color: #3E0866; 
}

.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Form h1 {
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    margin: 0 0 10px 0;
}

.blockedTitle{
 font-family: 'Source Code Pro', monospace;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    margin: 0 0 10px 0;
}

.Form p {
    font-family: 'Source Code Pro', monospace;
    width: 65%;
    color: #fff;
    font-size: 18px;
    margin: 0 0 30px 0;
}

.TextBlocked, .subText{
    font-family: 'Source Code Pro', monospace;
    width:100%;
    color: #fff;
    font-size: 15px;
}

.Form .TentaviasRestantestext {
    width: 100%;
    color: #b3b3b3; 
    font-family: 'Source Code Pro', monospace;
    font-weight: 400; 
    font-size: 13px; 
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}

.Form .PharseLastStep {
    width: 80%;
}

.RadioGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.RadioGroup label {
    font-family: 'Alexandria', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.RadioGroup label:hover {
    color: #a87ebb;
}

.RadioGroup input[type="radio"],
.RadioGroup input[type="checkbox"] {
    cursor: pointer;
    width: 18px;
    height: 18px;
    accent-color: #501A5E;
}

.CheckboxGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 15px;
    margin-bottom: 40px;
}

.CheckboxGrid label {
    font-family: 'Alexandria', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.CheckboxGrid label:hover {
    color: #a87ebb;
}

.CheckboxGrid input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 22px;
    height: 22px;
    border: 2px solid #501A5E;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0;
}

.CheckboxGrid input[type="checkbox"]:checked {
    background-color: #501A5E;
}

.CheckboxGrid input[type="checkbox"]:checked::after {
    content: '✓';
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.ButtonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.ButtonGroup button {
    background-color: #2D1E36;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Afacad', sans-serif;
    border: none;
    border-radius: 20px;
    padding: 8px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
}

.ButtonGroup button:hover {
    background-color: #501A5E;
}

.ButtonGroup .LeaveButton {
    background-color: #2D1E36;
    width: 100px;
}

.ButtonGroup .GoBackButton{
    background-color: #2D1E36;
    width: 100px;
}

.BlockedButton{
    background-color: #2D1E36;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Afacad', sans-serif;
    border: none;
    border-radius: 20px;
    padding: 8px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px;
}

.BlockedButton:hover{
    background-color: #501A5E;

}

.ButtonGroup .LeaveButton:hover {
    background-color: #2D1E36;
}

.ButtonGroup button:disabled {
    background-color: #3b3045; 
    color: #8c8592;
    cursor: not-allowed; 
    opacity: 0.6;
}

.ButtonGroup button:disabled:hover {
    background-color: #3b3045; 
    transform: none; 
}

.CheckboxGridTwoCols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;
    margin-bottom: 40px;
}

.SpanTwo {
    grid-column: span 2;
}

.CheckboxGridTwoCols label {
    font-family: 'Alexandria', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.CheckboxGridTwoCols label:hover {
    color: #a87ebb;
}


.CheckboxGrid input[type="checkbox"],
.CheckboxGridTwoCols input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #501A5E;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0;
}

.CheckboxGrid input[type="checkbox"]:checked,
.CheckboxGridTwoCols input[type="checkbox"]:checked {
    background-color: #501A5E;
}

.CheckboxGrid input[type="checkbox"]:checked::after,
.CheckboxGridTwoCols input[type="checkbox"]:checked::after {
    content: '✓';
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .FormContent {
        width: 90%; 
        max-width: 1040px; 
    }

    .RightSide {
        padding: 40px 40px;
    }
}

/* celulares */ 
@media (max-width: 850px) {
    .FormContent {
        flex-direction: column; 
        height: auto;
    }

    .LeftSide {
        width: 100%;
        height: auto;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0; 
        padding: 30px 20px;
    }

    .ImgAstronauta {
        max-width: 150px; 
    }

    .RightSide {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 0; 
        padding: 30px 20px;
    }

    .Form p {
        width: 100%; 
        font-size: 16px;
    }

    .StepParts {
        justify-content: center; 
    }

    .connectLine {
        width: 40px;
    }

    .CheckboxGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}